body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #03f67d, #00fedc);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  margin-bottom: 20px;
  color: #333;
}
input {
  padding: 10px;
  width: 65%;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

button {
  padding: 10px 15px;
  margin-left: 8px;
  border-radius: 8px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

button:hover {
  background-color: #06ff55;
}
.card {
  margin-top: 25px;
  padding: 20px;
  border-radius: 15px;
  background: #f7f9fc;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h2 {
  margin: 10px 0;
  color: #333;
}

.card p {
  margin: 5px 0;
  color: #555;
}
.card img {
  width: 80px;
}
.error {
  color: red;
  margin-top: 15px;
}
@media (max-width: 400px) {
  .container {
    width: 90%;
    padding: 25px;
  }

  input {
    width: 60%;
  }
}